<div class="footer">
<!-- <h1>Copyright &copy;</h1> -->
<div class="row">
    <div class="col-md-4 ">
        <span style="color:#ffff; cursor: pointer;
        text-align: center;
        border: 4px solid #ffff;
        border-radius: 4px;
       
        padding: 4px;
        font-size: large;
    " [routerLink]="['/login']" routerLinkActive="router-link-active"  >𝓚𝓾𝓬𝓱𝓑𝓱𝓲.𝓬𝓸𝓶</span>
    <br><br>
        <span [routerLink]="['/login']" routerLinkActive="router-link-active"  >𝓚𝓾𝓬𝓱𝓑𝓱𝓲.𝓬𝓸𝓶</span> is an Ecommerce Website for Wholesalers. it  is a fully customizable integrated Sales & Marketing tool provider that automates lead generation and support for growing businesses.


    </div>
    <div class="col-md-2 mt-3">
        <h2>Tools</h2>
        <p>Coupons</p>
        <p>Social Media</p>
        <p>Email Marketing</p>
        <p (click)="useLanguage('hindi')">{{'Hindi'|translate}}</p>
        <p (click)="useLanguage('en')">{{'English'|translate}}</p>
    </div>
    <div class="col-md-3 mt-3">
<h2>Company</h2>
<p><a [routerLink]="['/']" routerLinkActive="router-link-active" >Admin</a>Home</p>
<p>Membership</p>
<p>Contact Us</p>
<p>Refund & Cancellation</p>
<p>Faq's</p>
<p>Privacy</p>
<p>Terms&Conditions</p>
<p><a [routerLink]="['/adminLogin']" routerLinkActive="router-link-active" >Admin</a></p>
<p><a [routerLink]="['/career']" routerLinkActive="router-link-active" >Career</a></p>
    </div>
    <div class="col-md-3 mt-3">
<h2>Contact Us</h2>
<p>Address:Kuchbhi Plot no.23 near xyz bazar hyderabad, 262802.</p>
<p> purwarsatyam431@gmail.com</p> 
<p>xyz@kuchbhi.com</p>

    </div>
</div>
<hr>
<div class="row" style="background-color: white;">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" align="end">    
        <a href="https://wa.me/9792086455?text=Welcome%20to%20Kuchbhi.com"  target="_blank">
    <img src="assets/socialmediaicons/whatsapp.jpg" alt="" height="20px" width="20px" class="socialMedia"></a>
    <img src="assets/socialmediaicons/fb.png" alt="" height="20px" width="20px" class="socialMedia">
    <img src="assets/socialmediaicons/insta.jpg" alt="" height="20px" width="20px" class="socialMedia">
    <img src="assets/socialmediaicons/twitter.jpg" alt="" height="20px" width="20px" class="socialMedia">
    <a href="https://www.linkedin.com/in/satyam-purwar-5a5557b4/" target="_blank">
        <img src="assets/socialmediaicons/linkedin.png" alt="" height="20px" width="20px" class="socialMedia"></a>
    </div>
</div>
</div>

