<div class="container">



    <mat-card>
        <mat-card-header style="text-align: center;">
            <mat-card-title>

            </mat-card-title>
            
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h2  class="text-center  animate__animated animate__pulse animate__infinite text-warning">Job Vaccancy</h2>
                        </div>
                    </div>
            <mat-card class="mb-2" *ngFor="let d of data">
                <mat-card-header>
                    <mat-card-title>
                        Post Name:{{d.PostName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Location:{{d.Location}}</p>
                    <p>Experiance:{{d.Experiance}}</p>
                    <p>{{d.describe}}</p>
                    <p>{{d.skill}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="btn" mat-button><mat-icon style="color:red;" (click)="delete(d.userId)">delete</mat-icon></button>
                </mat-card-actions>
            </mat-card>
            
                </div> 
            
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-12">
                          <h1 class="text-center"> Add Job Vaccancy</h1>
                        </div>
                    </div>
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-12">
        
                                <mat-form-field>
                                    <mat-label>Post Name</mat-label>
                                    <input type="text" matInput formControlName="PostName" name="postname">
                                </mat-form-field>
                            
                            
                            </div>
        
                            <div class="col-md-12">
        
                                <mat-form-field>
                                    <mat-label>Location</mat-label>
                                    <input type="text" matInput formControlName="Location" name="location">
                                </mat-form-field>
                            
                            
                            </div>
        
                            <div class="col-md-12">
        
                                <mat-form-field>
                                    <mat-label>Experiance</mat-label>
                                    <input type="text" matInput formControlName="Experiance" name="experiance">
                                </mat-form-field>
                            
                            
                            </div>
                            <div class="col-md-12">
        
                                <mat-form-field>
                                    <mat-label>Describe</mat-label>
                                    <textarea matInput formControlName="describe" name="describe"></textarea>
                                </mat-form-field>
                            
                            
                            </div>
                            <div class="col-md-12">
        
                                <mat-form-field>
                                    <mat-label>Skills</mat-label>
                                    <input matInput formControlName="skill" name="skill">
                                </mat-form-field>
                            
                            
                            </div>
                            <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


</div>