.mat-form-field{
    width: 100%;
}
.btn{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
}
.mat-icon{
    color: brown;
    cursor: pointer;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,

}