<div class="container-fluid">
    <div class="row" style="display: inline;" *ngFor="let d of datas">
     
    <mat-card  class="col-sm-2 m-2 text-center" style="float: left;"  *ngFor="let pant of  d.userData">
            <img mat-card-image src="{{pant.image}}"  alt="">
          
            <mat-card-content>
             <h1 style=" cursor: pointer; color: blue;" [routerLink]="['/detail',pant.userId]">{{pant.product_name|minLength:13}}</h1>
                <span>MRP:{{pant.MRP|currency:"INR"}}</span><br>
                <span>Rate:{{pant.Rate|currency:"INR"}}</span><br>
                <!-- <button mat-mini-fab color="warn" (click)="minus(pant)">-</button>&nbsp;
                {{pant.quantity}}&nbsp;
                <button (click)="plus(pant)"  mat-mini-fab  color="primary">+</button> -->
            </mat-card-content>
            <mat-card-actions>
                <!-- <a [routerLink]="['/detail',pant.userId]" mat-button>Specification</a> -->
                <!-- <button mat-raised-button color="accent" (click)="addCart(pant)">Add to cart</button> -->
              </mat-card-actions>
            
        </mat-card>
   
    </div>
</div>
<br>

       



<br>
<!-- {{datas|json}} -->
{{error|json}}
