

<div class="container">
    <ng-container  *ngFor="let d of datas">
        
    
        <ng-container *ngFor="let pant of d.CardDetails">
            <div class="row" style="display: inline;">
            <mat-card class=" text-center m-2 col-sm-2" *ngIf="pant.status==='delivered'" style="float: left;">
    
                <img mat-card-image src="{{pant.image}}"  alt="{{pant.id}}">
                
                
    
                <mat-card-content >
                 <h1 style=" cursor: pointer; color: blue;" [routerLink]="['/detail',pant.userId]">{{pant.product_name |minLength:12}}</h1>
                    <span>MRP:{{pant.MRP|currency:"INR"}}</span><br>
                    <span>Rate:{{pant.Rate|currency:"INR"}}</span>
                    <br>
                    <!-- <button mat-mini-fab color="warn" (click)="minus(pant)">-</button>&nbsp; -->
                    {{pant.quantity}}&nbsp;item&nbsp;{{pant.status}}
                    <!-- <button (click)="plus(pant)"  mat-mini-fab  color="primary">+</button> -->
                </mat-card-content>
                <mat-card-actions >
                    <!-- <a [routerLink]="['/detail',pant.userId]" color="primary" mat-raised-button>Specification</a> -->
                    <!-- <button mat-raised-button color="accent" (click)="addCart(pant)">Add to cart</button> -->
    
                  </mat-card-actions>
                
            </mat-card>
        </div>
    
                </ng-container>
    
        </ng-container>
    </div>