<br>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/photos/beautiful-woman-with-shopping-bags-in-the-citysale-shopping-tourism-picture-id1131097418?k=20&m=1131097418&s=612x612&w=0&h=0lvWQ-ng2wx6H4Em7eDWkXPyPgFpV_3CtMZr_Gd4IWg=" class="d-block w-100" height="400px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://thumbs.dreamstime.com/b/group-friends-shopping-fashion-store-laughing-female-187855640.jpg" class="d-block w-100" alt="..." height="400px">
    </div>
    <div class="carousel-item">
      <img src="https://images.complex.com/complex/images/c_fill,f_auto,g_center,h_300,q_auto,w_600/fl_lossy,pg_1/qw6bl9i3euhu476m82qo/best-mens-brands-nyc-lead" class="d-block w-100" alt="sa" height="400px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<carousel>

  <div class="carousel-cell" *ngFor="let pant of pant">
    <mat-card>
      <img mat-card-image src="{{pant.image}}"  alt="{{pant.id}}">
      <mat-card-content >
       <!-- <h1>{{pant.product_name}}</h1> -->
          <s><span>MRP:{{pant.MRP|currency:"INR"}}</span></s><br>
          <span>Rate:{{pant.Rate|currency:"INR"}}</span>
      </mat-card-content>
      <mat-card-actions>
          <a [routerLink]="['/detail',pant.userId]" color="primary" mat-raised-button>Specification</a>
        </mat-card-actions>
      
  </mat-card>
        
  </div>

</carousel>



<br>

<br>
<br>


<carousel>

    <div class="carousel-cell" *ngFor="let pant of shirts">
      <mat-card>
        <img mat-card-image src="{{pant.image}}" >
        <mat-card-content >
         <h1>{{pant.product_name}}</h1>
           <s> <span>MRP:{{pant.MRP|currency:"INR"}}</span></s><br>
            <span>Rate:{{pant.Rate|currency:"INR"}}</span>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/detail',pant.userId]" color="primary" mat-raised-button>Specification</a>
          </mat-card-actions>
        
    </mat-card>
          
    </div>

</carousel>

<br>