.carousel-cell{


/* background-color: lightcoral; */
    
    }
    mat-card{
/* background-color: red; */
     border-radius: 0px;    
    height: fit-content;
    }
    .carousel{
      height: 500px !important;
    }
    mat-card img{
        width: 200px !important;
     height: 200px !important;
    }