
<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
                <h1 style="color: #ffff; text-align: center;  border: 4px solid #ffff;
                border-radius: 4px; margin: 23px;
                padding: 4px; font-size: large;" class="mt-4">𝓚𝓾𝓬𝓱𝓑𝓱𝓲.𝓬𝓸𝓶 {{'name'|translate}}</h1>
                 <ul class="list-group">

                    <a class="list-group-item" [routerLink]="['/My-profile']" routerLinkActive="router-link-active" ><mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;My Profile</a>                   
                     <a class="list-group-item"><mat-icon>equalizer</mat-icon>&nbsp;&nbsp;&nbsp;Activity</a>
                     <a class="list-group-item" [routerLink]="['/cart']" routerLinkActive="router-link-active" ><mat-icon>shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp; Cart</a>
                     <a class="list-group-item" [routerLink]="['/wishlist']" routerLinkActive="router-link-active" ><mat-icon>favorite</mat-icon>&nbsp;&nbsp;&nbsp;Wish List</a>
                     <a class="list-group-item"><mat-icon>sentiment_very_satisfied</mat-icon>&nbsp;&nbsp;&nbsp;Offers</a>
                     <a class="list-group-item" [routerLink]="['/orderhistory']" routerLinkActive="router-link-active" ><mat-icon>history</mat-icon>&nbsp;&nbsp;&nbsp;Order History</a>
                     <a class="list-group-item" [routerLink]="['/recentOrder']" routerLinkActive="router-link-active" ><mat-icon>history</mat-icon>&nbsp;&nbsp;&nbsp;Recent Order</a>
                     <a class="list-group-item"><a [routerLink]="['/adminLogin']" routerLinkActive="router-link-active" style="color: #ffff;  text-decoration: none;" ><mat-icon>admin_panel_settings</mat-icon>&nbsp;&nbsp;&nbsp;Admin Pannel</a></a>

                 </ul>



    </mat-sidenav>
  
    <mat-sidenav-content>
<!--     
      <mat-toolbar id="toolbar"> 
<mat-icon  (click)="sidenav.toggle()"  *ngIf="loginTrue===true" style="color: aliceblue; cursor: pointer;" >apps</mat-icon>
    <span style="color:#ffff; cursor: pointer;
    text-align: center;
    border: 4px solid #ffff;
    border-radius: 4px;
    margin: 23px;
    padding: 4px;
    font-size: large;
" [routerLink]="['/login']" routerLinkActive="router-link-active"  >𝓚𝓾𝓬𝓱𝓑𝓱𝓲.𝓬𝓸𝓶</span>
        <a routerLink="/shirt">Shirts</a>
        <a routerLink="/pant" >Pants</a>
        <a routerLink="/cart"><mat-icon matBadge="{{cardData}}" matBadgeColor="primary">shopping_cart</mat-icon></a>
        <button mat-stroked-button  routerLink="/login" routerLinkActive="router-link-active" *ngIf="loginTrue===false">Login</button>
    
        <button mat-stroked-button  *ngIf="loginTrue===true" (click)="logOut()">LogOut</button>
        </mat-toolbar> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sabac">
          <div class="container-fluid">
            <a class="navbar-brand" >
              <span style="color:#ffff; cursor: pointer;
              text-align: center;
              border: 4px solid #ffff;
              border-radius: 4px;
              margin: 23px;
              margin-left: 3px;
              padding: 4px;
              font-size: large;
          " [routerLink]="['/login']" routerLinkActive="router-link-active"  >𝓚𝓾𝓬𝓱𝓑𝓱𝓲.𝓬𝓸𝓶</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"  routerLink="/shirt">Shirts</a>
                </li>
                <li class="nav-item">
                
                  <a class="nav-link active" aria-current="page" routerLink="/pant" >Pants</a>
                </li>
                <li class="nav-item">
                
                 
                  <a class="nav-link active" aria-current="page"  routerLink="/cart"><mat-icon matBadge="{{cardData}}" matBadgeColor="primary">shopping_cart</mat-icon></a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
       -->
              </ul>
              <form class="d-flex">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button> -->
                <button mat-button class="bg-light" routerLink="/login" routerLinkActive="router-link-active" *ngIf="loginTrue===false">LogIn</button>
                <button mat-raised-button class="bg-light" *ngIf="loginTrue===true" (click)="logOut()">LogOut</button>
              </form>
            </div>
          </div>
        </nav>

        <ngx-loading-bar></ngx-loading-bar>
        <app-header></app-header>
        <div class="container-fluid mb-3"> 

            <marquee width="100%" direction="left"  style="color:blue;">
            This Website is only for Testing. No one can buy products from here . It is in Development Mode.
          </marquee>

        <app-banner *ngIf="rt.url=='/'"></app-banner>
        </div>
       <!-- <app-content></app-content> -->
       <div class="container-fluid mb-3">
       <router-outlet></router-outlet>
    </div>
       <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>