    <mat-card *ngFor="let pant of pants" class="col-md-4">
        <img mat-card-image src="{{pant.image}}"  alt="">
        <mat-card-content>
         <h1>{{pant.product_name}}</h1>
            <span>MRP:{{pant.MRP|currency:"INR"}}</span><br>
            <span>Rate:{{pant.Rate|currency:"INR"}}</span><br>
            <button mat-mini-fab color="warn" (click)="minus(pant)">-</button>&nbsp;
            {{pant.quantity}}&nbsp;
            <button (click)="plus(pant)"  mat-mini-fab  color="primary">+</button>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/detail',pant.userId]" mat-button>Specification</a>
            <button mat-raised-button color="accent" (click)="addCart(pant)">Add to cart</button>
          </mat-card-actions>
        
    </mat-card>
    <div class="error" *ngIf="errorData">
    <!-- <h1>{{errorData.errorTitle}}</h1>
    <p> {{errorData.errorDesc}}</p> -->
    
    <h1>Status:{{errorData.status}}</h1>
    <h1>{{errorData.error.error}}</h1>
    <p>{{errorData.statusText}}</p>
</div>
   