<div class="left">
    <mat-selection-list [multiple]="false">
        <mat-list-option >
 <a [matMenuTriggerFor]="MENUU">MEN WEAR</a>
<mat-menu #MENUU="matMenu">
    <a mat-menu-item routerLink="./shirts" routerLinkActive="active">Shirts</a>
    <a mat-menu-item routerLink="./pants" routerLinkActive="active">Pants</a>    

</mat-menu> 
        </mat-list-option>
        <mat-list-option>
            <a routerLink="./women" routerLinkActive="active">WOMEN WEAR</a>
        </mat-list-option>
      </mat-selection-list>
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>

