.col-md-4{
    float: left;
    width: 31.33%;
    margin: 1%;
}

mat-card{
    height:fit-content;
    overflow: hidden;
    margin-bottom: 5px;    
}
mat-card img{
    display: block;
    height: 200px;
    width: fit-content;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
    