.col-md-4{
    float: left;
    width: 31.33%;
    margin: 1%;
}

mat-card{
    height:fit-content;
    overflow: hidden;
    margin-bottom: 5px;    
}
mat-card img{
    height: 200px;
    width: fit-content;
}
