<br><br>
        <mat-card *ngIf="ss | async as detail" >
   
            <img mat-card-image src="{{detail.image}}">
            <mat-card-content>
                <h2>{{detail.product_name}}</h2>
                <span>descreption:{{detail.short_desc}}</span><br>
                <span>MRP:{{detail.MRP|currency:"INR"}}</span><br>
                <span>Rate:{{detail.Rate|currency:"INR"}}</span>
            </mat-card-content>
        </mat-card>
        
<div *ngIf="ss | async as detail" >
    <app-shirt></app-shirt>
</div>

<div class="row" *ngIf="details | async as detail" >
    <div class="col-md-4">
        <mat-card >
            <img mat-card-image src="{{detail.image}}">
            <mat-card-content>
                <h2>{{detail.product_name}}</h2>
                <span>descreption:{{detail.short_desc}}</span><br>
                <span>MRP:{{detail.MRP|currency:"INR"}}</span><br>
                <span>Rate:{{detail.Rate|currency:"INR"}}</span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col md-8">
      <app-pant></app-pant>
    </div>
</div>



